<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/head::head}"></div>

<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/header :: navbar}"></div>

<div class="container py-4 flex-grow-1">
  <main>
    <h2 style="color: white;">Your Liked Posts:</h2>
    <h1 th:if="${#lists.isEmpty(likedPosts)}" style="color: white" class="text-center" >You have not liked any posts yet</h1>

    <div th:unless="${#lists.isEmpty(likedPosts)}">
      <div class="row justify-content-center" >
        <div class="col-12 col-md-4 mb-4" th:each="post : ${likedPosts}">
          <a th:href="@{|/postdetails/*{post.id}|}" class="text-decoration-none">
            <div class="feedCards card">
              <img th:src="${post.imgPath}" alt="Post Image" class="card-img-top">

              <div class="card-body">
                <h5 class="card-title" th:text="${post.title}"></h5>
                <p class="mb-0">
                  <span th:each="tag : ${post.tagsPost}" th:class="'tag-' + ${tag.name.toLowerCase()}" th:text="|${tag.name} |"></span>
                </p>
              </div>

              <div class="card-footer d-flex justify-content-between">
                <span th:text="${#temporals.format(post.date, 'dd-MM-yyyy')}"></span>
                <div>
                  <span th:text="|Likes ${post.likedusers.size()} -|"></span>
                  <span th:text="|Comments: ${post.commentsPost.size()}|"></span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</div>

<footer class="mt-auto">
  <div th:replace="~{fragments/footer::footer}"></div>
</footer>
</body>
</html>
