<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/head::head}"></div>

<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/header::navbar}"></div>

<div class="container flex-grow-1 ">
  <main class="container">
    <div class="row justify-content-center">
      <h3 style="color: white;">post details</h3>
    </div>

  </main>

</div>

<!-- mt-auto -> push to bottom -->
<footer class="mt-auto">
  <div th:replace="~{fragments/footer::footer}"></div>
</footer>
</body>
</html>
