<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/head::head}"></div>

<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/header :: navbar}"></div>

<div class="container flex-grow-1">
    <main class="container" th:object="${appUser}" th:if="${appUser}">
        <div class="row d-flex justify-content-center align-items-center userInfo">
            <div class="col-12 col-md-5 text-start textInfo">
                <h1 th:text="*{name}"></h1>
                <p th:text="|id: *{id}|" style="opacity: 50%"></p>
                <h1>Bio:</h1>
                <p th:text="*{bio}"></p>
            </div>
            <div class="col-12 col-md-5 text-center imgInfo">
                <img th:src="*{profilePictureUrl}" alt="" class="rounded-circle">
            </div>
        </div>

        <div class="row">
            <div class="mt-3 text-start postInfo">
                <h1 th:if="${#lists.isEmpty(userPosts)}" style="color: white" class="text-center" >This user hasn't made any posts yet</h1>

                <div th:unless="${#lists.isEmpty(userPosts)}">
                    <div class="row">
                        <h2 style="color: white">Recent posts:</h2>
                        <div class="col-12 col-md-4 mb-4" th:each="post : ${userPosts}">
                            <a th:href="@{|/postdetails/${post.id}|}" class="text-decoration-none">
                                <div class="feedCards card">
                                    <img th:src="${post.imgPath}" alt="Post Image" class="card-img-top">

                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${post.title}"></h5>
                                        <p class="mb-0">
                                            <span th:each="tag : ${post.tagsPost}" th:class="'tag-' + ${tag.name.toLowerCase()}" th:text="|${tag.name} |"></span>
                                        </p>
                                    </div>

                                    <div class="card-footer d-flex justify-content-between">
                                        <span th:text="${post.date}"></span>
                                        <div>
                                            <span th:text="|Likes ${post.likedBy.size} -|"></span>
                                            <span th:text="|Comments: ${post.commentsPost.size()}|"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <main class="container m-3 d-flex justify-content-center align-items-center" th:object="${appUser}" th:unless="${appUser}">
        <h2 style="color: white;">No valid user found!</h2>
    </main>
</div>

<footer class="mt-auto">
    <div th:replace="~{fragments/footer::footer}"></div>
</footer>
</body>
</html>
